@import '../../static/styles/base/variables';

.keynote-section {
	display: flex;
	justify-content: space-between;
	padding-top: 30px;

	.keynote-left, .keynote-right {
		display: flex;
		flex-direction: column;
	}

	.keynote-left {
		
		.keynote-name {
			font-family: 'Jura', 'Roboto', sans-serif;
			margin: 0;
			padding-bottom: 10px;
			font-size: 30px;
		}

		.keynote-subtitle {
			display: flex;
			flex-direction: row;
	    font-weight: 100;
	    letter-spacing: 2px;

			.keynote-company, .keynote-handle, .keynote-div {
				display: flex;
				color: $boston-blue;
			}

		}

		.keynote-talk {

			.keynote-topic {
				padding: 10px 0px;
				color: $boston-blue;
				font-family: 'Jura', 'Roboto', sans-serif;
				font-size: 24px;
			}
		}
	}
}

.training {

	.title {
		margin-bottom: 20px;
		display: flex;
	}

	.training-call-out {
		display: flex;
		font-size: 16px;
		padding-bottom: 20px;

		.note {
			margin-right: 10px;
		}
	}

	.training-section {	

		.training-submission {
			margin-bottom: 20px;

			.training-title {
				background-color: skyblue;
				color: white;
				font-size: 20px;
				padding: 5px 10px;
				text-transform: uppercase;
				display: flex;
				justify-content: space-between;
				align-items: center;

				span {
					width: inherit !important;
				}
			}

			.training-presenter, .training-format {
				display: flex;

				.training-heading {
					width: 120px;
				}

			}

			.training-prereqs, .training-equipment {
				ul {
					list-style-position: outside;
					padding-left: 20px;
				}
				margin-bottom: 10px;
			}

			.training-desc {
				margin: 10px 0px;
			}

			.training-heading {
				font-weight: 700;
			}
		}
	}
}

.competition-area {

	.competition-section {
		padding: 15px 0px 30px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		&>* {
			flex: 1 250px 300px;
		}

		.competition-name-logo {
			display: flex;
			flex-direction: column;
			max-width: 240px;
			justify-content: flex-start;
    		align-items: center;
    		margin-right: 40px;

			.competition-name {
				font-size: 18px;
				font-weight: bold;
				margin-bottom: 20px;
			}

			.competition-logo {

				img {
					max-width: 200px;
					margin-bottom: 30px;
				}
			}

			.update-button {
				display: block;
			    font-size: 14px;
			    font-weight: medium;
			    text-transform: uppercase;
			    font-family: Montserrat, sans-serif;
			    padding: 8px;
			    margin-bottom: 20px;
			    width: 90%;
			    max-width: 300px;
			    height: 40px;
			    border-radius: 5px;
			    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
			    transition: all .5s;
			    border: solid 0px;
			    color: #fff;
			    background: linear-gradient(to left, skyblue 25%, aliceblue 75%);
			    background-size: 400% 100%;
			    background-position: right bottom;
			    font-weight: bold;
			    z-index: 3;
			    text-align: center;
			}
		}

		.competition-description {

		}
	}
}