@import '../../static/styles/base/variables';


.schedule {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	.calendar {
		display: flex;
		flex-direction: column;
		margin-right: 10px;

		&:hover {
			cursor: pointer;
		}

		.day-block {
			border: solid 1px #fff;
			min-width: 350px;
			height: auto;

			.day-header {
				background-color: skyblue;
				height: 30px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				text-transform: uppercase;

				&:hover {
					background-color: darken(skyblue, 10);
				}

				.day {
					color: #fff;
					font-size: 24px;
					display: flex;
					width: 100%;
					justify-content: center;
				}
			}

			.day-div {
				transition: transform 0.5s ease-in-out;
				height: auto;
				transform: scaleY(1);
				transform-origin: top;
				overflow: hidden;
				background-color: #e3e3e3;

				.day-box {
					width: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;

					.date-month {
						color: #333;
						font-size: 16px;
						text-transform: uppercase;
						padding: 12px 0px 0px;
					}

					.date-num {
						font-weight: 900;
						font-size: 96px;
					}
				}
			}
		}
	}

	.daily-schedule {
		background-color: #f3f3f3;
		display: flex;
		flex-direction: column;
		min-width: 350px;	
		padding: 10px;

		.date-wording {
			font-size: 20px;
			font-weight: 700;
			padding: 20px 20px 10px 20px;
		}

		.date-desc {
			padding: 0px 20px;
			max-width: 350px;
		}
	}
}

.training-bullets {
  font-size: 14px;
  margin-inline-start: 2.0em;
  overflow-wrap: break-word;
  max-width: 260px;
  font-weight: 400;
}





/************
    TALKS
*************/
.talks {
  h2 {
    margin: 20px 0px;
  }

  .single-talk {
    padding-bottom: 30px;

    .talk-title {
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 900;
      font-family: 'Jura', 'Roboto', sans-serif;
    }


    .talk-sub-title {
      display: flex;
      padding:  20px 0px;
      align-items: center;
      flex-wrap: wrap;

      .single-speaker {
      	display: flex;
      }
      .speaker-name {
        padding-right: 20px;
        color: $text-highlight;

        a {
          text-decoration: none;
          font-size: 20px;
          font-family: 'Jura';
          color: $text-highlight;
        }
      }

      .speaker-icon-bar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0px 20px;
        border-left: 1px solid #777;

        & :not(:first-child) {
          margin-left: 20px;
        }

        .speaker-icons {
          width: 20px;
          fill: $text-highlight;
          display: flex;
        }
        .speaker-icons:hover{
          cursor: pointer;
          fill: #cfad7d;
        }
      }
      .length {
        white-space: nowrap;
        font-family: 'Jura';
        padding: 0px 20px;
        border-left: 1px solid #777;
        border-right: 1px solid #777;
      }
      .video {
        white-space: nowrap;
        font-family: 'Jura';
        padding: 0px 20px;
        border-left: 1px solid #777;
        border-right: 1px solid #777;
      }
      .pdf {
        white-space: nowrap;
        font-family: 'Jura';
        padding: 0px 20px;
        border-left: 1px solid #777;
        border-right: 1px solid #777;
      }
      .technical {
        margin-left: 20px;
        font-family: 'Jura';
        display: flex;
        align-items: center;

        .tech-label {
          padding-left: 30px;
        }
      }
    }

    .abstract {
      font-family: 'Roboto', sans-serif;
      line-height:20px;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 0.5px;
    }

  }
}











/******************
    TALK SCHEDULE
*******************/

.schedule-talks {
  font-family: Lato, Gotham, Arial;
  
  .tabs {
    display: flex;
    justify-content: center;
  }
  .tabs li {
    float: left;
    width: 40%;
    display: block;
  }
  .tabs input[type="radio"] {
    display: none;
  }
  .tabs label {
    display: block;
    padding: 25px 0;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    background: #d9d9d6;
    color: #707372;
    cursor: pointer;
    position: relative;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .tabs label:hover {
    background: #eee;
    color: #ffffff;
  }
  .tabs label span {
    display: block;
    font-size: 6em;
    line-height: 1;
    font-weight: 900;
  }
  .tabs .tab-content {
    z-index: 2;
    display: none;
    overflow: hidden;
    width: 100%;
    font-size: 17px;
    line-height: 25px;
    padding: 25px;
    position: absolute;
    top: 184px;
    left: 0;
    background: #ffffff;
  }
  .tabs [id^="tab"]:checked + label {
    background: $text-highlight;
    color: #ffffff;
  }
  .tabs [id^="tab"]:checked + label:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: calc(50% - 20px);
    border: 20px solid transparent;
    border-bottom-color: #fff;
  }
  .tabs [id^="tab"]:checked ~ [id^="tab-content"] {
    display: block;
  }

  table {
    width: 100%;
  }

  tr:nth-of-type(even) {
    background-color: #ffffff;
  }

  tr:first-of-type {
    padding-top: 50px;
  }

  td {
    border: 0;
    width: 75%;
    vertical-align: top;
    padding: 15px;
  }
  td:nth-of-type(2n+1) {
    width: 25%;
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
  }

  .session-title {
    font-weight: bold;
    text-transform: uppercase;
  }

  .session-description {
    display: block;
  }



  .grid-wrapper-friday {
    margin-top: 20px;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 42px 42px 42px 112px 42px 112px 42px 42px 42px 112px 112px 42px 112px 112px 112px 30px;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    color: #444;
    padding-bottom: 30px;
    font-size: 14px;

    a {
      text-decoration: none;

      &:hover {
      	cursor: pointer;
      }
    }
  }

  .grid-wrapper-saturday {
    margin-top: 20px;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 42px 42px 42px 112px 42px 112px 42px 42px 42px 112px 112px 42px 112px 112px 112px;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    color: #444;
    padding-bottom: 30px;
    font-size: 14px;

    a {
      text-decoration: none;
      
      &:hover {
      	cursor: pointer;
      }
    }
  }

  .eagle {
    grid-row-start: 14;
    grid-row-end: 16;
  }

  .mult-rows {
    grid-row-start: 8;
    grid-row-end: 11;
  }

  .box {
    background-color: #eee;
    color: #333;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: solid 8px $text-highlight;
    padding: 5px 10px;
    display: flex;
    height: 100%;
    overflow: hidden;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(199,199,199,1);
    -moz-box-shadow: 0px 1px 2px 0px rgba(199,199,199,1);
    box-shadow: 0px 1px 2px 0px rgba(199,199,199,1);

    .talk-time {
      color: $text-highlight;
      display: flex;
      width: 35px !important;
      min-width: 35px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
  .schedule {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: calc(1.75vw + 1.75vh);
    font-family: 'Jura', 'Roboto', sans-serif;
    margin-bottom: 20px;
  }
  .track {
    justify-content: center;
    align-items: center;
    display: flex;
    text-transform: uppercase;
    font-family: 'Jura', 'Roboto', sans-serif;
    font-size: calc(.8vw + .8vh);
    color: #fff;
    background: $text-highlight;
    /*background: #ad974f99;*/
  }

  .both-tracks {
    grid-column: 1 / 3;
  }
}

.modal-content {
	display: flex;
	flex-direction: column;

	.modal-headline {
		display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;

		.modal-time {
			color: $text-highlight;
			font-size: 24px;
			/*margin-bottom: 10px;*/
			/*font-family: 'Jura', 'Roboto', sans-serif;*/
		}

		.modal-tech {
			display: flex;

			.tech-label {
				padding-left: 30px;
			}
		}
	}

	.modal-talk-title {
		font-size: 20px;
		font-family: 'Jura', 'Roboto', sans-serif;
	}

	.modal-speaker {
		font-weight: 900;
		font-size: 16px;
		margin-bottom: 16px;
	}
}
